a {
    text-decoration: none;
    color: grey;
}
 
a:hover, a:active{
    color: darkgrey;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span {
    color: grey
}

.mat-toolbar.mat-primary {
    background: lightgrey;
    color:#fff;
}
 